input {
  background: inherit;
  color: inherit;
  border: none;
  border-bottom: 1px solid #58a5ef;
}

input::placeholder {
  color: #58a5ef;
}

input:hover {
  border-bottom: 2px solid #58a5ef;
}

input:focus {
  outline: none;
  border-bottom: 2px solid white;
}

