@import "../../less/colors.less";

.btn {
  background: @secondary;
  color: @secondary-text;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 16px;
}

.btn-secondary {
  background: inherit;
  color: @secondary;
}

.btn:hover {
  cursor: pointer;
  background: @secondary-light;
}

.btn-secondary:hover {
  background: inherit;
  color: @secondary-light;
}

.row-btn:focus, .btn:focus {
  outline: none;
  text-decoration: underline;
}

.btn:active {
  box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.25);
  background: @secondary-dark;
}

.btn-secondary:active {
  box-shadow: none;
  background: inherit;
  color: @secondary-dark;
}

.btn-small {
  padding: 5px 10px;
  font-size: 14px;
}
