@primary: #0277bc;
@primary-text: #fff;
@primary-light: #58a5ef;
@primary-light-text: #ccc;
@primary-lighter: #9cceff;
@primary-dark: #004c8b;
@primary-dark-text: #fff;
@primary-darker: #003561;

@primary-dark-hover: #015a9b;

@secondary: #c6ff00;
@secondary-text: #ccc;
@secondary-light: #fdff58;
@secondary-light-text: #ccc;
@secondary-dark: #90cc00;
@secondary-dark-text: #ccc;

@danger: #ff1744;
@danger-text: #ccc;
@danger-light: #ff616f;
@danger-light-text: #ccc;
@danger-dark: #c4001d;
@danger-dark-text: #fff;

@shadow: rgba(0, 0, 0, 0.125);
