@primary: #0277bc;
@primary-text: #fff;
@primary-light: #58a5ef;
@primary-light-text: #000;
@primary-lighter: #9cceff;
@primary-dark: #004c8b;
@primary-dark-text: #fff;
@primary-darker: #003561;

@secondary: #c6ff00;
@secondary-text: #000;
@secondary-light: #fdff58;
@secondary-light-text: #000;
@secondary-dark: #90cc00;
@secondary-dark-text: #000;

@danger: #ff1744;
@danger-text: #000;
@danger-light: #ff616f;
@danger-light-text: #000;
@danger-dark: #c4001d;
@danger-dark-text: #fff;
