@import "../../less/colors.less";

.main {
  overflow-x: auto;
}

.nav, .footer {
  position: relative;
  background: @primary-dark;
  padding: 10px;
  min-width: 570px;
}

.nav {
  height: 60px;
  width: 100%;
  box-shadow: 0 5px 10px @shadow;
}

.footer {
  height: 47.5px;
  width: 100%;
  box-shadow: 0 -5px 10px @shadow;
}

.content {
  padding: 10px;
  height: calc(~"100vh - 108px");
  overflow-y: auto;
  min-width: 570px;
}
